@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-image-gallery/styles/css/image-gallery.css';
@import '~react-toastify/dist/ReactToastify.css';

:root {
  --toastify-color-success: rgba(203, 230, 229);
  --toastify-text-color-success: rgb(25, 25, 25);
}

@font-face {
  font-family: 'Fixel Regular';
  src: url('/fonts/FixelText-Regular.ttf');
}

@font-face {
  font-family: 'Fixel SemiBold';
  src: url('/fonts/FixelText-SemiBold.ttf');
}

@font-face {
  font-family: 'Fixel Medium';
  src: url('/fonts/FixelText-Medium.ttf');
}

@font-face {
  font-family: 'Museo Sans 100';
  src: url('/fonts/MuseoSans_100-webfont.eot');
  src:
    url('/fonts/MuseoSans_100-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/MuseoSans_100-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/MuseoSans_100-webfont.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/MuseoSans_100-webfont.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/MuseoSans_100-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 300';
  src: url('/fonts/MuseoSans_300.otf');
  src:
    url('/fonts/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/MuseoSans_300-webfont.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/MuseoSans_300-webfont.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/MuseoSans_300-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 300 italic';
  src:
    url('/fonts/MuseoSans_300_Italic-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/MuseoSans_300_Italic-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/MuseoSans_300_Italic-webfont.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/MuseoSans_300_Italic-webfont.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/MuseoSans_300_Italic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 500';
  src: url('/fonts/MuseoSans_500.otf');
  src:
    url('/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/MuseoSans_500-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/MuseoSans_500-webfont.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/MuseoSans_500-webfont.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/MuseoSans_500-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 500 italic';
  src:
    url('/fonts/MuseoSans_500_Italic-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/MuseoSans_500_Italic-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/MuseoSans_500_Italic-webfont.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/MuseoSans_500_Italic-webfont.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/MuseoSans_500_Italic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 700';
  src: url('/fonts/MuseoSans_700.otf');
  src:
    url('/fonts/MuseoSans_700-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/MuseoSans_700-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/MuseoSans_700-webfont.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/MuseoSans_700-webfont.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/MuseoSans_700-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 900';
  src: url('/fonts/MuseoSans_900.otf');
  src:
    url('/fonts/MuseoSans_900-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/MuseoSans_900-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/MuseoSans_900-webfont.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/MuseoSans_900-webfont.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/MuseoSans_900-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Oswald Bold';
  src: url('/fonts/Oswald-Bold.ttf');
}

@font-face {
  font-family: 'Amatic';
  src: url('/fonts/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: 'Amatic Bold';
  src: url('/fonts/AmaticSC-Bold.ttf');
}

@font-face {
  font-family: 'Alegreya';
  src: url('/fonts/Alegreya-Regular.ttf');
}

@font-face {
  font-family: 'Palatino Linotype';
  src: url('/fonts/pala.ttf');
}

@font-face {
  font-family: 'Din';
  src: url('/fonts/DINNextCYR-Light.otf');
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/FuturaLightC.ttf');
}

@font-face {
  font-family: 'Futura Bold';
  src: url('/fonts/Futura Heavy font.ttf');
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton-wave {
  animation: skeleton-loading 3s infinite linear;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
}

@layer base {
  html,
  body {
    font-family: 'Fixel Regular', system-ui, sans-serif;
  }

  h1 {
    font-family: var(--font-amatic);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
  }

  h3 {
    color: rgb(var(--color-grey));
    font-family: var(--font-din);
    font-size: 1.4rem;
    font-weight: 100;
    margin: 1rem 0;
  }

  h5 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  h6 {
    font-family: var(--font-din);
    font-weight: 600;
    font-size: 1.1rem;
    margin: 1rem;
    color: rgb(var(--color-grey-light-dark));
    line-height: 2.4rem;
  }

  p {
    line-height: 1.4;
    margin: 0;
  }
}

@layer components {
  .internat-container {
    @apply container mx-auto px-6;
  }
}

.image-gallery-thumbnail {
  border: 2px solid transparent;
}

.image-gallery-thumbnail:hover,
.image-gallery-thumbnail.active {
  border: 2px solid rgba(74, 91, 197, 1);
}
